<div class="container">
    <div class="d-flex flex-column admin-panel">
        <a class="btn btn-primary" asp-action="Categories">Categories</a>
        <a class="btn btn-primary" asp-action="Products">Products</a>
    </div>
</div>